git+https://github.com/AustinHellerRepo/Common
git+https://github.com/AustinHellerRepo/Threading
git+https://github.com/AustinHellerRepo/SocketQueuedMessageFramework
python-jose
oidcrp
requests_oauthlib